---
import BigLogo from "@/components/assets/BigLogo.astro";
---

<header class="overflow-hidden relative">
  <BigLogo class="lg:-mx-4 opacity-4 absolute inset-0" />
  <div class="py-12 max-w-xl mx-auto px-8 relative">
    <div>
      <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 h-7.5 text-xs text-base-900 bg-white ring-inset"
      >
        <p>Available for new projects</p>
        <div class="size-2 rounded-full bg-green-500 border-2 border-green-500">
        </div>
      </span>
      <h1
        class="text-4xl mt-12 tracking-tight text-base-900 text-balance font-medium"
      >
        We design, build, and market digital experiences that scale.
      </h1>
    </div>
    <div
      class="grid grid-cols-1 text-base text-base-600 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <p>
        Buzz and Bee is a premier digital agency building high-performance web applications, stunning brand identities, and data-driven campaigns.
      </p>
      <p>
        We don't just deliver code and graphics. We deliver measurable growth and world-class quality for businesses worldwide.
      </p>
    </div>
    <div class="mt-8">
      <a
        href="https://calendly.com/buzzandbee/new-meeting"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center justify-center rounded-full px-4 border py-2 text-sm font-semibold transition-all bg-base-900 text-white h-10 border-transparent focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 hover:bg-black hover:shadow-none w-auto"
      >
        Book a free consultation
      </a>
    </div>
  </div>
</header>
