<section>
  <div class="px-8 py-12 max-w-xl mx-auto">
    <div>
      <h2 class="text-4xl tracking-tight text-base-900 text-balance font-medium">
        How it works
      </h2>
    </div>
    <div>
      <p class="text-base text-base-600 mt-4 text-balance">
        <strong>1. Initial Meeting:</strong> We generally first arrange an initial meeting with you to deeply understand your needs, goals, and expectations.
        <br /><br />
        <strong>2. Research & Strategy:</strong> We then take 1-2 days to conduct thorough research and formulate the best approach for your project.
        <br /><br />
        <strong>3. Estimation & Kickoff:</strong> Finally, we share a transparent estimation with you. Once approved, we kick off the project immediately!
      </p>
    </div>
  </div>
</section>
