---
const services = [
  {
    category: "Design",
    items: [
      "Brand identity & logo systems",
      "UI/UX Design for Web & Mobile",
      "Wireframes & interactive prototypes",
      "Design systems & component libraries",
      "Landing page design",
      "Marketing collateral & graphics",
    ],
  },
  {
    category: "Development",
    items: [
      "Custom Web Applications",
      "E-commerce platforms",
      "High-performance static sites (Astro)",
      "CMS integrations (WordPress, Sanity)",
      "API development & integrations",
      "Performance & SEO optimization",
    ],
  },
  {
    category: "Marketing",
    items: [
      "Search Engine Optimization (SEO)",
      "Social Media Management",
      "Pay-Per-Click (PPC) Advertising",
      "Content Strategy & Copywriting",
      "Email Marketing Campaigns",
      "Conversion Rate Optimization (CRO)",
    ],
  },
];
---

<section>
  <div class="px-8 py-12 max-w-xl mx-auto">
    <h2 class="text-4xl tracking-tight text-base-900 text-balance font-medium">
      Services
    </h2>

    <div class="flex flex-col gap-px mt-4">
      {
        services.map(({ category, items }) => (
          <div class="bg-white p-8 rounded-3xl">
            <h3
              id={`${category.toLowerCase()}-heading`}
              class="text-xl text-base-900"
            >
              {category}
            </h3>

            <ul
              role="list"
              class="grid grid-cols-1 lg:grid-cols-2 gap-y-1 gap-x-4 mt-2 list-disc pl-4"
            >
              {items.map((title) => (
                <li class="text-sm text-base-600">{title}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>
