---
import { Image } from "astro:assets";
import "keen-slider/keen-slider.min.css";
import Author from "@/images/work/author.avif";
import Carbon from "@/images/work/carbon.avif";
import KoteiDark from "@/images/work/koteiDark.avif";
import Dusk from "@/images/work/dusk.avif";
import Flabbergasted from "@/images/work/flabbergasted.avif";
import Aubergine from "@/images/work/aubergine.avif";
import FlacoLight from "@/images/work/flacoLight.avif";
import FlacoDark from "@/images/work/flacoDark.avif";
import Buio from "@/images/work/buio.avif";
import Alfred from "@/images/work/alfred.avif";
import Hemingway from "@/images/work/hemingway.avif";
import Carriera from "@/images/work/carriera.avif";
import Brightlight from "@/images/work/brightlight.avif";
import Hirewise from "@/images/work/hirewise.avif";
import Enlightr from "@/images/work/enlightr.avif";

const themes = [
  { name: "Author", image: Author },
  { name: "Carbon", image: Carbon },
  { name: "KoteiDark", image: KoteiDark },
  { name: "Dusk", image: Dusk },
  { name: "Flabbergasted", image: Flabbergasted },
  { name: "Aubergine", image: Aubergine },
  { name: "FlacoLight", image: FlacoLight },
  { name: "FlacoDark", image: FlacoDark },
  { name: "Buio", image: Buio },
  { name: "Alfred", image: Alfred },
  { name: "Hemingway", image: Hemingway },
  { name: "Carriera", image: Carriera },
  { name: "Brightlight", image: Brightlight },
  { name: "Hirewise", image: Hirewise },
  { name: "Enlightr", image: Enlightr },
];
---

<style>
  .keen-slider__slide {
    overflow: visible;
  }
</style>

<section class="scroll-mt-24" id="work">
  <div class="px-8 py-24 max-w-xl mx-auto">
    <div class="bg-white p-8 rounded-3xl">
      <div id="keen-slider" class="keen-slider relative">
        {
          themes.map(({ name, image }) => (
            <div class="relative w-full keen-slider__slide  ">
              <Image
                src={image}
                width={500}
                height={500}
                quality={80}
                format="avif"
                alt={name}
              />
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex gap-2 items-center w-fit mx-auto mt-2">
      <button
        id="keen-slider-previous"
        aria-label="Previous slide"
        class="bg-white text-base-500 rounded-full p-2 hover:bg-base-900 hover:text-white duration-300 focus:outline-none focus:ring-2 focus:ring-base-500"
      >
        <svg
          class="size-4"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
      <button
        id="keen-slider-next"
        aria-label="Next slide"
        class="bg-white text-base-500 rounded-full p-2 hover:bg-base-900 hover:text-white duration-300 focus:outline-none focus:ring-2 focus:ring-base-500"
      >
        <svg
          class="size-4"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <script>
    import KeenSlider from "keen-slider";
    window.addEventListener("DOMContentLoaded", () => {
      const autoplay = (slider) => {
        let timeout;
        let mouseOver = false;
        function clearNextTimeout() {
          clearTimeout(timeout);
        }
        function nextTimeout() {
          clearTimeout(timeout);
          if (mouseOver) return;
          timeout = setTimeout(() => {
            slider.next();
          }, 500);
        }
        slider.on("created", () => {
          slider.container.addEventListener("mouseover", () => {
            mouseOver = true;
            clearNextTimeout();
          });
          slider.container.addEventListener("mouseout", () => {
            mouseOver = false;
            nextTimeout();
          });
          nextTimeout();
        });
        slider.on("dragStarted", clearNextTimeout);
        slider.on("animationEnded", nextTimeout);
        slider.on("updated", nextTimeout);
      };
      const sliderEl = document.getElementById("keen-slider");
      if (!sliderEl) {
        console.warn("Slider element not found");
        return;
      }
      const keenSlider = new KeenSlider(
        sliderEl,
        {
          loop: true,
          defaultAnimation: {
            duration: 1000,
          },
          detailsChanged: (s) => {
            s.slides.forEach((element, idx) => {
              element.style.opacity = s.track.details.slides[idx].portion;
            });
          },
          slides: {
            origin: "center",
            perView: 1.5,
            spacing: 12,
          },
          breakpoints: {
            "(min-width: 1024px)": {
              slides: {
                origin: "auto",
                perView: 1,
                spacing: 0,
              },
            },
          },
        },
        [autoplay],
      );
      const keenSliderPrevious = document.getElementById(
        "keen-slider-previous",
      );
      const keenSliderNext = document.getElementById("keen-slider-next");
      keenSliderPrevious?.addEventListener("click", () => keenSlider.prev());
      keenSliderNext?.addEventListener("click", () => keenSlider.next());
    });
  </script>
</section>
