---
const footerLinks = [
  {
    title: "Navigation",
    links: [
      { label: "Work", href: "#work" },
      { label: "How it works", href: "#how" },
      { label: "Pricing", href: "#pricing" },
      { label: "FAQ", href: "#faq" },
    ],
  },
  {
    title: "Resources",
    links: [
      {
        label: "Privacy Policy",
        href: "#",
      },
      {
        label: "Terms of Service",
        href: "#",
      },
    ],
  },

  {
    title: "Socials",
    links: [
      {
        label: "Email Us",
        href: "mailto:buzzandbee25@gmail.com",
      },
      {
        label: "LinkedIn",
        href: "#",
      },
    ],
  },
];
---

<footer class="overflow-hidden">
  <div class="px-8 pt-12 pb-24 max-w-xl mx-auto">
    <div class="grid grid-cols-2 lg:grid-cols-3">
      {
        footerLinks.map((section) => (
          <div>
            <h3 class="text-base-900 text-sm">{section.title}</h3>
            <ul
              role="list"
              class="mt-2 text-xs flex flex-col gap-1 text-base-600"
            >
              {section.links.map((link) => (
                <li>
                  <a href={link.href} class="hover:text-base-900">
                    {link.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <div class="mt-12">
      <div class="text-sm text-base-900">
        © 2026 Buzz and Bee Digital. All rights reserved.
      </div>
      <p class="text-xs text-base-600 mt-1 text-balance">
        Empowering brands with exceptional Design, Development, and Marketing services globally.
      </p>
    </div>
  </div>
</footer>
